{% set title = "Olena Boichuk Designer" %}
{% extends "layouts/layout.html" %}

{% block content %}
<section class="section section--fullheight section--intro">
</section>
<section class="section section--lastcollection section--2">

  <div class="section__narrow22">
      <div class="visual">
        <div>
          <p class="last-col-subtitle">ОСТАННЯ КОЛЕКЦІЯ</p>
          <h1 class="last-col-title">Winter special</h1>
          <p class="last-col-description">Одяг для сноубордингу ручної роботи, з авторським дизайном від Олени Бойчук</p>
        </div>
        <img src="/static/images/sec2-bg1.png" />
      </div>
  </div>
</section>
<section class="section section--3">
  <div class="section__narrow">
    <div class="items">
      <div class="item">
        <div>sdhfjskhkjshfjks </div>
      </div>
      <div class="item"><div>sdhfjskhkjshfjks </div></div>
      <div class="item">sdfsdfsdf </div>
    </div>
  </div>
</section>
<section class="section section--4">
    <div class="section__narrow">
      <div>
        <div class="sec4-wrap-text">
          <h1 class="last-col-title4">Boichuk design</h1>
          <p class="last-col-description">Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне.</p>
        </div>
      </div>
      <img src="/static/images/sec4-bg1.jpg" />
    </div>
  </section>
  <section class="section section--5">
      <div class="section__narrow">
        <div>
          <div class="sec4-wrap-text">
            <p class="last-col-description">Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.</p>
          </div>
        </div>
        <img src="/static/images/sec5-bg1.jpg" />
      </div>
    </section>
{% endblock %}
