<footer class="page__footer">
  <div class="page__narrow">
    <ul class="soclink">
      <li class="soclink__item">
        <a class="soclink__item__link" href="tel:+380638605079" target="_blank" rel="noreferrer">
          <i class="fas fa-phone-square"></i> Tell</a>
      </li>
      <li class="soclink__item">
        <a class="soclink__item__link" href="https://www.facebook.com/olenka.boychuk" target="_blank" rel="noreferrer">
          <i class="fab fa-facebook-square"></i> Facebook</a>
      </li>
      <li class="soclink__item">
        <a class="soclink__item__link" href="https://www.instagram.com/olena_boichuk" target="_blank" rel="noreferrer">
          <i class="fab fa-instagram"></i> Instagram</a>
      </li>
    </ul>
  </div>
</footer>
